<section id="home-view">
    <!-- ko foreach: images-->
    <div class="imageTile span4">
        <a href="#imagesModal" data-toggle="modal" data-bind="click: $root.setCurrentImage">
            <img data-bind="attr: { src: image_standard_res }"/>
        </a>
    </div>
    <!-- /ko -->
    @RenderPage("ImagesModal.cshtml");
</section>