<section id="home-view">
    <div class="row">
        <form class="form-search">
            <input type="text" class="input-medium search-query" placeholder="Search here" data-bind="value:searchTerm">
            <button type="submit" class="btn" data-bind="click:performSearch">Search</button>
        </form>
    </div>
    <!-- ko foreach: images-->
    <div class="span3 imageTile">
        <div class="polaroid">
            <a data-bind="attr: { href: link }"><img class="image-style" data-bind="attr: { src: image_standard_res }"/></a>            
            <span class="user-label" data-bind="text:user"></span>
        </div>
    </div>
    <!-- /ko -->
</section>
<script type="text/javascript" src="signalr/hubs"></script>
