<!-- Modal -->
<div data-bind="with:currentImage" id="imagesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Modal showing image detail" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><img data-bind="attr: {src: userProfilePicture}"/><span data-bind="text: userNameFormatted"></span></h3>
  </div>
  <div class="modal-body" data-bind="simplePopup: caption">
      <p></p>
      <img data-bind="attr: { src: image_standard_res }"/>
      <div class="heart-image"><strong data-bind="text:likes"></strong></div>
      <!-- ko foreach: tags -->
      <span class="label label-inverse"><a href="#" data-bind="text: $data, click: $parents[1].searchFor" data-dismiss="modal"></a></span>
      <!-- /ko -->
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
