 body {
     padding-top: 60px;
     background-color: #EAEAEA !important;
}

 /*.imageTile {
    margin: 10px;
    border: 5px solid #fff;
}*/

 .loading {
     background: url('images/ajax-loader.gif') no-repeat;
     padding: 10px;
     margin: auto;
 }

 .imageTile {
     background: none;
     margin: auto;
 }

 .polaroid {
     border: thin solid #d9d9d9;
     background-color: #fff;
     padding: 5px 5px 35px 5px;
     margin-bottom: 20px;
 }

  .user-label {
      padding-left: 5px;
      color: #444;
      font-weight: bold;
 }

  .heart-image {
      background: url('images/heart.png') no-repeat;
      padding: 10px;
      display: inline;
 }

  .image-style {
      margin-bottom: 10px;
  }

@media (min-width: 481px) and (max-width: 767px) {
    .span3, .imageTile {
        width: 622px !important;
        margin: auto !important;
    }
}

