 body {
     padding-top: 60px;
     background-color: #000 !important;
}
 .imageTile {
     background: none;
     margin: auto;
 }

 .container-fluid {
     margin: auto !important;
     padding: 0 !important;
 }

 #home-view .span4 {
     margin: 0 !important;
 }

 .heart-image {
     background: url('images/heart.png') no-repeat;
     padding-bottom: 12px;
     display: block;
 }

 .spinner {
     background: url('images/spinner.gif') no-repeat;
     height: 12px;
     margin-top: 7px;
     margin-right: 10px;
 }

 .heart-image strong{
     padding-left: 33px;
 }

 .modal-body {
     max-height: 450px !important;
 }

 .modal-header h3 img {
     height: 35px;
     width: 35px;
     border: solid thin #d9d9d9;
     margin-right: 5px;
 }

 .modal-body img {
     margin-bottom: 5px;
     border: solid thin #d9d9d9;
 }

 .modal-body .label a {
     text-decoration: none;
     color: white;
 }

 .brand {
     margin-left: 10px !important;
     text-transform: uppercase;
 }

 .form-search input {
     margin-left: 61px;
 }

 #chartcontainer {
     height: 100%;
     width: 100%;
     max-width: 1480px;
 }

 @media (min-width: 481px) and (max-width: 767px) {
    .span3, .imageTile {
        width: 622px !important;
        margin: auto !important;
    }
}

/* Extra Large desktop */
@media (min-width: 1500px) {
    .container-fluid {
        width: 1480px;
    }

 }
/* Large desktop */
@media (min-width: 1200px) and (max-width: 1499px){
    .container-fluid {
        width: 1110px;
    }

 }

/* Desktop */
@media (min-width: 980px) and (max-width: 1199px){
     .container-fluid {
        width: 900px;
    }

 }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .container-fluid {
        width: 684px;
    }
 }
 
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
    
}
 
/* Landscape phones and down */
@media (max-width: 480px) {


 }

